<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikasipmb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiPmb">
        <activity
            android:name=".register"
            android:exported="true" />
        <activity
            android:name=".pesmaba"
            android:exported="true" />
        <activity
            android:name=".p2kk"
            android:exported="true" />
        <activity
            android:name=".infopendaftaran"
            android:exported="true" />
        <activity
            android:name=".profilte"
            android:exported="true" />
        <activity
            android:name=".MenuUtama"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>